@using Mango.ViewModels.Men
@model MenIndexVM

<div class="men-container">

    @if (Model.MenIntro != null)
    {
        <div style="background-image: url(/assets/img/@Model.MenIntro.PhotoPath);" class="head-image">
            <div style="display:flex; flex-direction:column">
                <div>@Model.MenIntro.Title</div>
                <a href="@Model.MenIntro.Url" class="custom-btn img-word-p">
                    Discover more
                </a>
            </div>
        </div>

    }

    <div class="ordinal1">

        @foreach (var menPromote in Model.MenPromotes)
        {

            <div style="background-image: url(/assets/img/@menPromote.PhotoPath);" class="or1-image">
                <div class="word-con">
                    <div class="img-word-h">
                        @menPromote.Title
                    </div>
                    <div class="img-word-p">
                        Discover more
                    </div>
                    <div class="word-line"></div>
                </div>
            </div>
        }



        @* <div style="background-image: url(../assets/images/m-1.png);" class="or1-image">
        <div class="word-con">
        <div class="img-word-h">
        Pants
        </div>
        <div class="img-word-p">
        Discover more
        </div>
        <div class="word-line"></div>
        </div>
        </div>
        <div style="background-image: url(../assets/images/m-1.png);" class="or1-image">
        <div class="word-con">
        <div class="img-word-h">
        Pants
        </div>
        <div class="img-word-p">
        Discover more
        </div>
        <div class="word-line"></div>
        </div>
        </div>
        <div style="background-image: url(../assets/images/m-1.png);" class="or1-image">
        <div class="word-con">
        <div class="img-word-h">
        Pants
        </div>
        <div class="img-word-p">
        Discover more
        </div>
        <div class="word-line"></div>
        </div>
        </div>
        <div style="background-image: url(../assets/images/m-1.png);" class="or1-image">
        <div class="word-con">
        <div class="img-word-h">
        Pants
        </div>
        <div class="img-word-p">
        Discover more
        </div>
        <div class="word-line"></div>
        </div>
        </div>
        <div style="background-image: url(../assets/images/m-1.png);" class="or1-image">
        <div class="word-con">
        <div class="img-word-h">
        Pants
        </div>
        <div class="img-word-p">
        Discover more
        </div>
        <div class="word-line"></div>
        </div>
        </div>*@
    </div>

    <div class="promotion">
        FINAL CLEARANCE | Up to 70% off Shop now
    </div>

    <div class="other">
        <div class="otherlines">
            Our Other Lines
        </div>
        <div class="other-imgs">
            @foreach (var otherLine in Model.MenOtherLines)
            {
                <div class="other-img-1" style="background-image: url(../assets/img/@otherLine.PhotoPath)">
                    <a href="@otherLine.Url" class="custom-btn line-button">@otherLine.Title</a>
                </div>
            }

        </div>
    </div>
    <div class="xett"></div>
</div>